@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul li {list-style: none;}
p {margin-top: 0;}
body {margin: 0;font-family: "Inter", sans-serif;}
.mb20 {margin-bottom: 20px;}
.container {max-width: 1350px;width: 95%;margin: 0 auto;padding: 0;}
.main_section .container .row {align-items: flex-start;}
.dashboard-menu {background-color: rgba(255, 255, 255, 1.0);background: linear-gradient(180deg,rgb(132, 163, 157) 0%,rgb(89, 152, 169) 100%);overflow: hidden;}
.dashboard-menu .news_info_box {position: relative;width: 100%;height: 100%;margin: 0 auto;background-color: #fcfcfc;border-radius: 12px;overflow: hidden;backdrop-filter: blur(24px) brightness(100%);-webkit-backdrop-filter: blur(24px) brightness(100%);}
.dashboard-menu .box_contant {padding: 20px 20px 20px 20px;}
.dashboard-menu .news_info_box .heading {display: flex;align-items: center;justify-content: space-between;align-self: stretch;position: relative;width: 100%;flex: 0 0 auto;}
.dashboard-menu .heading-2 {display: flex;align-items: center;justify-content: space-between;}
.dashboard-menu .news_info_box .latest_news_box {display: flex;flex-direction: column;align-items: center;gap: 16px;position: relative;width: 100%;flex: 0 0 auto;padding-top: 20px;}
.dashboard-menu .news_info_box .latest_news_box .tile-revised, .dashboard-menu .news_info_box .latest_news_box .tile-revised-2 {position: relative;background-color: #ececec;max-width: 94%;flex: 0 0 94%;padding: 12px;}
.dashboard-menu .news_info_box .latest_news_box .flex_wrap_box {width: 100%;display: flex;align-items: center;justify-content: space-between;background: #ececec;border-radius: 12px;overflow: hidden;}
.dashboard-menu .news_info_box .latest_news_box .rectangle-2 {position: relative;align-self: stretch;background-color: #c76961;max-width: 4%;flex: 0 0 4%;}
.dashboard-menu .news_info_box .latest_news_box .rectangle-3 {background-color: #f5d654;position: relative;align-self: stretch;max-width: 4%;flex: 0 0 4%;}
.dashboard-menu .news_info_box .latest_news_box .rectangle-4 {background-color: #2bccc4;position: relative;align-self: stretch;max-width: 4%;flex: 0 0 4%;}
.dashboard-menu .news_info_box .latest_news_box .rectangle-5 {background-color: #2790ac;position: relative;align-self: stretch;max-width: 4%;flex: 0 0 4%;}
.dashboard-menu .news_info_box .latest_news_box .div-wrapper .text-wrapper-4 {color: var(--gray-950);font-size: var(--text-sm-bold-font-size);letter-spacing: var(--text-sm-bold-letter-spacing);line-height: var(--text-sm-bold-line-height);font-weight: bold;margin-top: 0;}
.dashboard-menu .news_info_box .latest_news_box .div-wrapper .div-3 {position: relative;color: var(--gray-600);font-size: var(--text-xs-regular-font-size);letter-spacing: var(--text-xs-regular-letter-spacing);line-height: var(--text-xs-regular-line-height);font-style: var(--text-xs-regular-font-style);}
.dashboard-menu .news_info_box .latest_news_box .div-wrapper .frame-11 {display: flex;align-items: center;gap: 8px;position: relative;align-self: stretch;width: 100%;flex: 0 0 auto;}
.dashboard-menu .graph_sec_box {margin: 0 auto;width: 100%;height: 100%;background-color: #fcfcfc;border-radius: 12px;}
.dashboard-menu .ellipse {position: relative;width: 8px;height: 8px;background-color: #c76961;border-radius: 4px;}
.dashboard-menu .ellipse-2 {background-color: #f5d654;position: relative;width: 8px;height: 8px;border-radius: 4px;}
.dashboard-menu .ellipse-3 {background-color: #2bccc4;position: relative;width: 8px;height: 8px;border-radius: 4px;}
.dashboard-menu .ellipse-4 {background-color: #2790ac;position: relative;width: 8px;height: 8px;border-radius: 4px;}
.dashboard-menu .top_features {display: inline-flex;align-items: center;gap: 12px;position: relative;flex: 0 0 auto;}
.dashboard-menu .div-5 .frame-21 .top_features {padding: 10px 0 20px;}
.dashboard-menu .top_features .frame-6 {display: inline-flex;align-items: center;gap: 4px;position: relative;flex: 0 0 auto;}
.dashboard-menu .text-wrapper-3 {color: var(--gray-600);font-size: var(--text-md-bold-font-size);letter-spacing: var(--text-md-bold-letter-spacing);line-height: var(--text-md-bold-line-height);overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;font-style: var(--text-md-bold-font-style);}
.tabs #tabs-content a {display: inline-block;line-height: 0;padding-bottom: 10px;width: 100%;}
.tabs #tabs-content a img {width: 100%;}
.tabs #tabs-content {text-align: center;}
.tabs ul#graph-nav {display: flex;align-items: center;justify-content: center;padding: 0;margin-top: 0;}
.tabs ul#graph-nav li {list-style: none;padding: 10px 15px;border-radius: 5px;}
.tabs ul#graph-nav li a {color: #000;text-decoration: none;}
.tabs ul#graph-nav li.active a {color: #fff;}
.tabs ul#graph-nav li.active {background: #000;}
.tabs ul#portfolio-nav {display: flex;align-items: center;justify-content: center;padding: 0;margin-top: 0;}
.tabs ul#portfolio-nav li {text-align: center;list-style: none;padding: 10px 15px;border-radius: 5px;}
.tabs ul#portfolio-nav li a {color: #000;text-decoration: none;}
.tabs ul#portfolio-nav li.active a {color: #fff;}
.tabs ul#portfolio-nav li.active {background: #000;}
.graph_report_tabbing, .portfolio_tabbing {padding-top: 20px;}
.portfolio_info .info_detail .detail_step {display: flex;align-items: center;justify-content: flex-start;}
.portfolio_info .info_detail .detail_step ul {padding: 0;display: flex;align-items: center;justify-content: space-around;margin-bottom: 10px;margin-top: 0;}
.portfolio_info .info_detail .detail_step ul li:last-child {padding-right: 20px;color: #475467;font-size: 14px;}
.portfolio_info .info_detail .detail_step ul li:first-child {padding-right: 5px;}
.dashboard-menu .portfolio_info {padding: 16px;position: relative;background-color: #ececec;border-radius: 12px;margin-bottom: 20px;}
.dashboard-menu .properties_box {width: 100%;margin: 0 auto;}
.dashboard-menu .properties_box .portfolio_box, .dashboard-menu .properties_box .user_info {position: relative;background-color: #fcfcfc;border-radius: 12px;overflow: hidden;padding: 20px;}
.dashboard-menu .properties_box .portfolio_box {margin-bottom: 20px;padding-top: 20px;}
.dashboard-menu .div-5 .heading-2 .text-wrapper-2 {padding-top: 0px;}
.hamburger {font-size: 24px;cursor: pointer;display: none; /* Hidden by default */}

header.frame-wrapper {width: 100%;background: #292e33;margin-bottom: 30px;}
header.frame-wrapper .row {align-items: center;justify-content: space-between;}
header.frame-wrapper .row .col-md-6 {line-height: 0;}

header.frame-wrapper .row .text-right {text-align: right;position: relative;}
#hamburger-menu {display: none;height: auto;align-items: flex-start;gap: 4px;padding: 32px;position: absolute;top: 50px;right: 10px;width: 250px;background-color: rgb(255 255 255 / 60%);border-radius: 12px;box-shadow: 0px 4px 4px #00000040;backdrop-filter: blur(48px) brightness(100%);-webkit-backdrop-filter: blur(48px) brightness(100%);z-index: 99;}
#hamburger-menu .header_menu > ul {padding: 0;margin: 0;}
#hamburger-menu .header_menu li {display: flex;align-items: center;justify-content: space-between;flex-wrap: wrap;font-size: 14px;line-height: 18px;padding: 5px 0;cursor: pointer;}
#hamburger-menu .header_menu li ul.sub_menu {width: 100%;flex: 0 0 100%;padding: 5px 10px;}
#hamburger-menu .header_menu li .sub_menu_arrow .close_arrow {display: none;}
#hamburger-menu .header_menu li.show .sub_menu_arrow .open_arrow {display: none;}
#hamburger-menu .header_menu li.show .sub_menu_arrow .close_arrow {display: block;}
#hamburger-menu .header_menu li .sub_menu_arrow img {max-width: 20px;width: 100%;}
#hamburger-menu .header_menu li .sub_menu_arrow .open_arrow, #hamburger-menu .header_menu li .sub_menu_arrow .close_arrow {line-height: 0;}
#hamburger-menu .header_menu .graphs-wrapper {width: 100%;background: #000;color: #fff;text-align: center;border-radius: 4px;padding: 8px 0;margin-top: 60px;}

.dashboard-menu li.sub_menu_item ul.sub_menu {width: 100%;flex: 0 0 100%;display: none;padding-left: 20px;padding-top: 10px;}
.dashboard-menu li.sub_menu_item.show ul.sub_menu {display: block;}
.dashboard-menu li.sub_menu_item.show p {font-weight: bold;}
.dashboard-menu li.sub_menu_item p {margin: 0;}
.hamburger-button {background: none; border: none; padding: 0;cursor: pointer; /* Change cursor to pointer */float: right;}
.dashboard-menu .text-wrapper-2 {position: relative;padding-top: 10px;padding-bottom: 10px;width: fit-content;color: var(--gray-950);font-size: var(--text-xl-bold-font-size);letter-spacing: var(--text-xl-bold-letter-spacing);line-height: var(--text-xl-bold-line-height);font-weight: bold;}
.dashboard-menu .text-wrapper-12 {position: relative;width: fit-content;margin-top: -1.00px;color: var(--gray-500);font-size: 12px;line-height: 15px;}
.dashboard-menu .text-wrapper-11 {position: relative;color: #232323;font-size: 16px;line-height: 30px;font-weight: bold;}
.dashboard-menu .frame-31 {position: relative;width: 24px;height: 24px;background-color: #c76961;text-align: center;color: #fff;display: flex;align-items: center;justify-content: center;margin-bottom: 5px;}
.dashboard-menu .frame-32 {position: relative;width: 24px;height: 24px;background-color: #2790ac;text-align: center;color: #fff;display: flex;align-items: center;justify-content: center;margin-bottom: 5px;}
.dashboard-menu .frame-33 {position: relative;width: 24px;height: 24px;background-color: #f5d654;text-align: center;color: #fff;display: flex;align-items: center;justify-content: center;margin-bottom: 5px;}
.dashboard-menu .frame-34 {position: relative;width: 24px;height: 24px;background-color: #2bccc4;text-align: center;color: #fff;display: flex;align-items: center;justify-content: center;}
.dashboard-menu .frame-28 {display: flex;align-items: center;gap: 12px;position: relative;align-self: stretch;width: 100%;flex: 0 0 auto;background: #ECECEC;border-radius: 12px;padding: 15px;overflow: hidden;max-width: 90%;margin: 0 auto 10px;}
.dashboard-menu .frame-31 div, .dashboard-menu .frame-32 div, .dashboard-menu .frame-33 div, .dashboard-menu .frame-34 div {width: 100%;}
.user_info .user_content div {margin-bottom: 5px;color: #667085;font-weight: normal;font-size: 14px;}
.user_info .user_content div a {color: #667085;text-decoration: none;}
.user_info .user_content div strong {color: #000;font-size: 18px;}
.user_info .user_content .address {font-size: 15px;margin-bottom: 0;}


/* page 2 */
.portfolio_info .detail_info_property {display: flex;align-items: center;justify-content: space-between;}
.portfolio_info .detail_info_property ul.info_property {padding: 0;display: flex;align-items: center;justify-content: space-between;}
.portfolio_info .detail_info_property ul.info_property li {padding-right: 10px;}
.portfolio_info .detail_info_property .pro_rate span {display: flex;align-items: center;justify-content: space-between;}
.portfolio_info .detail_info_property .pro_rate img {max-width: 25px;line-height: 25px;padding-right: 10px;}
.portfolio_info .detail_info_property ul.info_property li:first-child:after {content: '';position: absolute;background: #ccc;width: 10px;height: 10px;border-radius: 50%;top: 50%;transform: translateY(-50%);right: 10px;}
.portfolio_info .detail_info_property ul.info_property li:first-child {position: relative;padding-right: 30px;}
.graph_report_tabbing.page_2 .download_pdf ul.title_pdf {display: flex;align-items: center;justify-content: space-between;padding: 0;font-weight: bold;padding-bottom: 20px;}
.graph_report_tabbing.page_2 .download_pdf {padding: 0 25px;}
.graph_report_tabbing.page_2 .download_pdf .download_here {color: #000;text-decoration: none;border-bottom: 2px solid #98A2B3;padding-bottom: 5px !important;margin-bottom: 10px;}
.graph_report_tabbing.page_2 .download_pdf .download_here ul.pdf_flex_wrap {padding: 0;display: flex;align-items: center;justify-content: space-between;margin: 0;}
.graph_report_tabbing.page_2 .download_pdf .download_here ul.pdf_flex_wrap li:last-child {color: #667085;text-align: right;}
.graph_report_tabbing.page_2 .download_pdf .download_here ul.pdf_flex_wrap li:first-child {font-weight: 500;text-align: left;}
.graph_report_tabbing.page_2 .download_pdf .download_here ul.pdf_flex_wrap li {line-height: 25px;}





@media only screen and (min-width :768px) and (max-width:980px) {
  .dashboard-menu .news_info_box .latest_news_box .rectangle-2, .dashboard-menu .news_info_box .latest_news_box .rectangle-3, .dashboard-menu .news_info_box .latest_news_box .rectangle-4, .dashboard-menu .news_info_box .latest_news_box .rectangle-5 {max-width: 2%;flex: 0 0 2%;}
  #hamburger-menu {right: 20px;}

}



@media screen and (max-width:980px) {
  
  .dashboard-menu .box_contant {padding: 10px 10px 20px 10px;}
  .dashboard-menu .news_info_box .latest_news_box {padding-top: 10px;}
  .dashboard-menu .properties_box .portfolio_box, .dashboard-menu .properties_box .user_info {padding: 0 10px;}  
  .dashboard-menu .news_info_box, .dashboard-menu .graph_sec_box, .dashboard-menu .properties_box {max-width: 100%;}
  .tabs ul#graph-nav li, .tabs ul#portfolio-nav li {padding: 5px 10px;font-size: 14px;line-height: 20px;}  
  .portfolio_info .info_detail .detail_step {display: block;}  
  .portfolio_info .info_detail .detail_step ul {justify-content: flex-start;}
  .user_info .user_content div strong {color: #000;font-size: 15px;}  
  .user_info .user_content .address {font-size: 13px;}  
  .main_section .col-md-4 {width: 50%;}
  .main_section_2 .col-md-4 {width: 100%;}
  .main_section .col-md-4:last-child {width: 100%;}

}



@media screen and (max-width:767px) {
  .frame-wrapper .col-md-6.col-sm-6 {width: 45%;}
  #hamburger-menu {padding: 15px;top: 40px;right: 10px;width: 200px;}
  .main_section .col-md-4 {width: 100%;}

}





